@import '_include-media.scss';
@import 'breakpoints.scss';

// COLORS
$color-blue: #26343e;
$color-gold: #c29f59;

// FONTS
@font-face {
    font-family: 'Montserrat Subrayada Bold', sans-serif;
    src: url('../fonts/Montserrat_Subrayada/MontserratSubrayada-Bold.woff2') format('woff2'),
         url('../fonts/Montserrat_Subrayada/MontserratSubrayada-Bold.woff') format('woff'),
         url('../fonts/Montserrat_Subrayada/MontserratSubrayada-Bold.ttf') format('ttf');
}

body, h1, h2, h3, p{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 22px;
    font-weight: 600;
}

p{
    font-size: 15px;
}

footer p, footer li{
    font-size: 12pt;
}

a{
    text-decoration: none;
}

.gold{
    color: $color-gold;
}

.blue{
    color: $color-blue;
}

/// RESET
html, body{
    margin: 0px;
    overflow-x: hidden;
}

//Variables
$section3-width : 71.3%;
$section4-padding: 7.97% 13.28% 12.97% 13.28%;
$section4-padding-x: 13.28%;
$section4-padding-y: 7.97%;


//Elements
.tagline{
    font-family: 'Montserrat Subrayada Bold', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color: $color-gold;
    font-size: 14px;
    text-decoration: underline;
}

.btn{
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    padding: 14px 20px;
    border-radius: 200px;
    z-index: 2;
    i{
        margin-left: 8px;
    }
}

.goldBtn{
    border: 1px solid $color-gold;
    color: $color-gold;
    background-color: white;
    transition: 0.5s;
}
.goldBtn:hover, .goldBtn:active, .goldBtn:focus{
    background-color: $color-gold;
    color: white;
    transition: 0.5s;
}

.blueBtn{
    border: 1px solid $color-blue;
    color: $color-blue;
    background-color: white;
    transition: 0.5s;
}

.blueBtn:hover, .blueBtn:active, .blueBtn:focus{
    background-color: $color-blue;
    color: white;
    transition: 0.5s;
}

.whiteBtn{
    background-color: $color-gold;
    border: 1px solid white;
    color:  white;
    transition: 0.5s;
}

.whiteBtn:hover, .whiteBtn:active, .whiteBtn:focus{
    background-color: white;
    color: $color-gold;
    transition: 0.5s;
}

.flexslider{
    .flex-nav-prev, .flex-nav-next{
        display: none;
    }
}

//Page
#section1{
    z-index: 1;
    min-height: 800px;
    height: 46.8vw;
    margin-top: -27px; //why?
    background-color: lightgrey;
    background-image: url('../img/main-background-image-crop.png');
    background-size: cover;
    background-repeat: no-repeat;
    #logo{
        position: absolute;
        top: 28px;
        left: 38px;
    }
    h1{
        margin-bottom: 42px;
    }
    .buttons{
        margin-top: 70px;
        .btn{
            margin: 8px 18px;
        }
    }
    .content{
        max-width: 48%;
        margin: 0 auto;
        padding-top: 14%;
        text-align: center;
    }
}

#section2{
    float: right;
    background-color: $color-gold;
    max-width: 50%;
    z-index: 10;
    margin-top: -29.87%;
    //height: 578px;
    height: 22vw;
    .content{
        padding: 4.5% 13.2%;
    }
    .content, .flexslider{
        background-color: $color-gold;
    }
    .flexslider{
        border: none;
        margin-bottom: 6px;
    }
    .flex-control-paging li a.flex-active {
        background: #ffffff;
        border: 1px solid white;
        cursor: pointer;
    }
    .flex-control-nav {
        z-index: 1;
        width: 50%;
        position: absolute;
        bottom: -40px;
        right: -80px;
    }

    .flex-control-paging li a {
        background: transparent;
        border: 1px solid white;
        cursor: pointer;
        width: 7px;
        height: 7px;
    }
    .flex-control-paging li a {
        text-indent: 9000px;
    }
    color: white;
}

#section3{
    z-index:2;
    float: left;
    margin-top: -8%;
    width: 59.1vw;
    height: 37.5vw;
    background-image:  url('../img/video-player.png');
    background-color: $color-blue;
    background-size: cover;
    background-repeat: no-repeat;
}

#section4{
    max-width: 71.3%;
    float: right;
    margin-top: -7.76%;
    background-color: white;
    right: 0;
    .content{
        padding: $section4-padding;
        ul{
            padding-left: 0px;
        }
        ul li{
            list-style-type: none;
            font-size: 14px;
        }
    }
    .listIcons{
        margin: 0 auto;
        text-align: center;
        li{
            display: inline-block;
            margin: 18px 36px;
            width: 160px;
            vertical-align: middle;
            span{
                display: inline-block;
                font-weight: 600;
            }
        }
    }
}

#section5{
    width: calc(100% - 71.3%);
    float: left;
    .content{
        padding-left: 33%;
        padding-top: 18.55%;
    }
    p{
        font-weight: 200;
    }
    #infoTag{
        margin-bottom: 46px;
    }
}

#section6{
    width: 50%;
    float: left;
    background-image: url('../img/batiment-kepler.png');
    background-size: cover;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    .content{
        span{
            font-weight: 600;
            text-decoration: underline;
        }
        background-color: $color-gold;
        color: white;
        padding-left: $section4-padding-x;
        padding-top: 3.78%;
        padding-bottom: 5.68%;
        padding-right: 61px;
        text-align: justify;
        max-width: 47%;
        position: absolute;
        top: 33.6%;
    }
}

#section7{
    width: 50%;
    position: relative;
    float: right;
    margin-top: -70px;
    background-color: $color-blue;
    p, h1{
        color: white;
    }
    .content{
        padding: $section4-padding-x;
    }
}

#section8{
    background-color: white;
    position: relative;
    width: 76%;
    margin-top: -7.1%;
    float: right;
    .content{
        text-align: center;
        padding-top: 142px;
        padding-bottom: 142px; 
        max-width: 770px;
        margin: 0 auto;
        padding-right: 24vw;
        h1{
            margin-bottom: 48px;
        }
        #priceTable{
            min-height: 600px;
            border: 1px solid $color-blue;
            .btn{
                margin-top: 32px;
            }
            ul{
                text-align: left;
                padding: 0px 90px;
                li{
                    list-style-type: none;
                    margin: 16px 0px;
                }
            }
            #title{
                background-color: $color-blue;
                padding: 22px;
                .tagline{
                     color: white;
                     text-decoration: none;
                }
            }
            #price{
                font-size: 55px;
                color: $color-gold;
                font-weight: 800;
                span{
                    font-size: 14px;
                    color: black;
                    font-weight: 200;
                }
            }
        }
    }
}

footer{
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: $color-blue;
    p{
        text-align: center;
        color: white;
        font-size: 11px;
    }
    .content{
        padding: 45px 165px;
    }
    #footerLogo{
        text-align: center;
        margin-bottom: 32px;
    }
}